.section-features{
    background-image: linear-gradient( to right top,
    rgba($color-primary-light, 0.501),
    rgba($color-primary-dark, 0.501) )
      ,url(../img/featuresbg.jpg);
    background-size: cover;
    // height: 115vh;
    padding: 2rem 2rem;

}

.section-about{
    background-image: url(../img/daniele-levis-pelusi-Tizbbx-5esA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    // height: 105vh;
    padding: 2rem 6rem;
    position: relative;


}

.section-models{
  background-image: linear-gradient(to right top,  
                                      rgba($color-secondary-light, 0.8) 20%,
                                      rgba($color-secondary-dark, 0.8)),
                                      url(../img/modelsbg.jpg);
  background-size:cover;                
  padding: 2rem 2rem;    
}

.section-how{
  //  background-image: linear-gradient( to left top, rgba($color-primary-dark, .5) ,
  //                                   rgba($color-primary-dark, .5) ),
  //                                   url(../img/howitworks-bg.jpg);
  background-size: cover;                                    
  // height: 100vh;
  background-image: url(../img/howitworks-bg.jpg);
  position: relative;
  padding: 2rem 1rem ;
}

.section-order{
  background-image:  linear-gradient( to left top, rgba($color-primary-dark, .5) ,
                                      rgba($color-primary-dark, .5) ),
                                      url(../img/formbg.jpg);
  background-size: cover;
  // height: 100vh;
  padding: 2rem 1rem;
  position: relative;
  
}

.section-footer{
  padding: 2rem;
  position: relative;
}

.section-header{
  position: fixed;
  top: 0;
  left:0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.5);
  backface-visibility: hidden;
  backdrop-filter: blur(5px);
  
  @include respond(tab-port){
    visibility: hidden;
  }
}

